@page "/guest/create"
@inject HttpClient httpClient
@inject NavigationManager uriHelper

<h3>Add new Guest User</h3>
<Form ButtonText="Create Guest" registrationModel="@registrationModel"
    OnValidSubmit="@CreateGuest" />

@code {
    RegistrationDto registrationModel = new RegistrationDto();

    async Task CreateGuest()
    {
        await httpClient.PostAsJsonAsync("api/guest", registrationModel);
        uriHelper.NavigateTo("guest");
    }
}