@page "/guest/update/{guestId:guid}"
@inject HttpClient httpClient
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Update</h3>
<Form ButtonText="Update" guest="@guest"
      OnValidSubmit="@UpdateGuest" />

@code {
    [Parameter] public Guid guestId { get; set; }
    Guest guest = new Guest();

    protected override Task OnParametersSetAsync()
    {
        return httpClient.GetFromJsonAsync<Guest>($"api/guest/{guestId}");
    }
    async Task UpdateGuest()
    {
        await httpClient.PutAsJsonAsync("api/guest", guest);
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("guest");
    }
}