@page "/guest/update/{guestId}"
@inject HttpClient httpClient
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Update Guest Personal Information</h3>

<Form ButtonText="Update" registrationModel="@registrationModel"
          OnValidSubmit="@UpdateGuest" />

@code {
    [Parameter] public string? guestId { get; set; }    
    UserDetailsDto registrationModel = new UserDetailsDto();

    protected async override Task OnParametersSetAsync()
    {       
        registrationModel = await httpClient.GetFromJsonAsync<UserDetailsDto>($"api/guests/{guestId}");
    }
    async Task UpdateGuest()
    {
        await httpClient.PutAsJsonAsync($"api/guests/{guestId}", registrationModel);
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("guests");
    }
}