@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider

<div class="sidebar" style="position:fixed">
    <NavMenu />

</div>
<div class="main" style="margin-left:250px">
    <div class="top-row">
<AuthorizeView>
            <Authorized>
                <a href="authentication/profile">Hello, @context.User.Identity?.Name!</a>
                <button type="button" class="btn btn-link ml-md-auto" @onclick="@LogoutClick">Logout</button>
            </Authorized>
            <NotAuthorized>
                <a href="authentication/register">Register</a>
                <a href="authentication/login">Log in</a>
            </NotAuthorized>
</AuthorizeView>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>

<MudThemeProvider />
<MudSnackbarProvider />

@functions {
    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; } 

    protected override async Task OnParametersSetAsync()
    {
        var user = (await AuthenticationState).User;
        if (!user.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/login");
        }
    }
    async Task LogoutClick()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/login");
        
    }
}
